<div class="container">
    {% if user.is_authenticated %}
    <a>Привет, {{ user.username }}</a>
    <a href="{% url 'users:profile' user.pk %}">Профиль</a>
    <form method="post" action="{% url 'users:logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-link p-0 m-0 align-baseline">
            Выход
        </button>
    </form>

    <a href="{% url 'moment:create' %}" class="btn btn-primary mb-3">Создать момент</a>
    {% else %}
    <a href="{% url 'users:login' %}">Логин</a>
    <a href="{% url 'users:register' %}">Регистрация</a>
    {% endif %}
    <a href="{% url 'moment:home' %}">Главная</a>
    <form method="get" action="{% url 'moment:search' %}">
        <input type="text" name="q" placeholder="Поиск..." value="{{ request.GET.q }}">
        <button type="submit">🔍</button>
    </form>
</div>