<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Moments{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="min-h-screen bg-base-200 text-base-content">
    {% include "includes/header.html" %}

    <main class="max-w-6xl mx-auto px-4 py-6">
        {% block content %}
        {% endblock %}
    </main>

    {% include "includes/footer.html" %}
</body>
</html>