<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Moments{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap"
          rel="stylesheet">
</head>

<body class="min-h-screen text-base-content">
{% include "includes/header.html" %}

<main class="max-w-6xl mx-auto px-4 py-6">
    {% block content %}
    {% endblock %}
</main>

{% include "includes/footer.html" %}
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</body>
</html>